<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="availableFriends">

        </div>
        <button></button>
        <script>

            let selected = [];

            function createCheckbox(id){
                let checkbox = document.createElement('input');
                checkbox.setAttribute('type','checkbox');
                checkbox.setAttribute('value', id);
                return checkbox;
            }

            $(document).ready(async function(){
                await $.get('/friends',function(data, status){
                    data.friends.forEach(user => {
                        let div = document.createElement('div');
                        let checkbox = createCheckbox(user._id);
                        let text = document.createTextNode(user.firstName + ' ' + user.lastName);
                        div.appendChild(checkbox);
                        div.appendChild(text);
                        $('.availableFriends').append(div);
                    });
                });
                $('input').change(function(){
                    console.log(this)
                    this.checked ?
                        selected.push($(this).val()) :
                        selected = selected.filter((value) => {
                            return value != $(this).val();
                        });
                })
            });
            $('button').click(function(){
                let chatName = selected.length > 1 && prompt('Enter Chat Name');
                let req = new XMLHttpRequest();
                req.onload = () => {
                    let res = JSON.parse(req.responseText);
                    !res.success && alert('you are already on chat with this user');
                }
                req.open('POST', '/addtoongoing');
                req.setRequestHeader("Content-Type", "application/json");
                req.send(JSON.stringify({
                    chatName,
                    chatType: selected.length === 1 ? 0 : 1,
                    Members: selected,
                }))
            })
        </script>
    </body>
</html>