<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/chatbox.css">
    </head>
    <body>
        <div class="chatbox">
            <div class="ongoing">
                <div class="header">
                    <div class="profilepic">
                        <img src="/download.png" />
                    </div>
                    <div class="username">
                        
                    </div>
                    <div>
                        <a href="/ongoing">
                            <i class="material-icons">
                                    chat
                            </i>
                        </a>
                    </div>
                    <div>
                        <a href="/searchnewfriend">
                            <i class="material-icons">
                                person_add
                            </i>
                        </a>
                    </div>
                </div>
                <div class="ongoingchats">

                </div>
            </div>
            <div class="chatscreen">
                <div class="messageHistory">

                </div>
                <div class="input">
                    <input type="text" />
                </div>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            let activeChatId = null;
            let activeChatMembers = [];
            let userinfo = null;
            let socket = io.connect();

            function appendNewMessage(message, user){
                let div = document.createElement('div');
                $(`<div class="sender">
                        <span>
                            ${user}:
                        </span>
                    </div>
                    <div>
                        <span>
                            ${message}
                        </span>
                    </div>`).appendTo(div);
                $('.messageHistory').append(div);
            }

            function appendNewChat(chat){
                let div = document.createElement('div');
                let name = chat.chatMembers.filter((member) => {
                    return member._id != userinfo.id;
                })[0];

                $(`<div class="dp"> <img src="/download.png" /> </div>
                <div> ${!chat.chatType ? name.firstName + ' ' + name.lastName : chat.chatName} </div>`)
                    .appendTo(div);

                div.onclick = function(){
                    activeChatId = chat._id;
                    activeChatMembers = chat.chatMembers;
                    $('.messageHistory').empty();
                    $.get(`/messages/${chat._id}`, function(data, status){
                        const {messages} = data;
                        messages.forEach((message) => {
                            appendNewMessage(message.message, message.sender.firstName + ' ' + message.sender.lastName)
                        })
                        console.log($('.messageHistory')[0].scrollHeight)
                        $('.messageHistory').scrollTop($('.messageHistory')[0].scrollHeight);
                    });
                }

                return $('.ongoingchats').append(div);
            }

            $(document).ready(function(){
                $.get('/logeduserinfo',function(data,status){
                    userinfo = {
                        id: data._id,
                        firstName: data.firstName,
                        lastName: data.lastName,
                    };
                    socket.emit('new connection',{id: userinfo.id});
                    socket.on('new message',(data)=>{
                        data.chatID === activeChatId && appendNewMessage(data.message, data.userinfo.firstName + ' ' + data.userinfo.lastName);
                        $('.messageHistory').scrollTop($('.messageHistory')[0].scrollHeight);

                    })
                    $(`<span> ${userinfo.firstName} ${userinfo.lastName} </span>`).appendTo('.username');
                    data.activeChats.forEach((chat,i) => {
                        appendNewChat(chat);
                    });
                });
            });


            
                $('input').keydown(function(e){
                    console.log(userinfo);
                    e.keyCode === 13 && socket.emit('new message',{
                        message: $(this).val(),
                        members: activeChatMembers,
                        chatID: activeChatId,
                        userinfo,
                    }) && $(this).val('');
                });
            

        </script>
    </body>
</html>