<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/chatbox.css">
    </head>
    <body>
        <div class="chatbox">
            <div class="ongoing">
                <div class="header">
                    <div class="profilepic">
                        <img src="/download.png" />
                    </div>
                    <div class="username">
                        
                    </div>
                    <div>
                        <a href="/ongoing">
                            <i class="material-icons">
                                    chat
                            </i>
                        </a>
                    </div>
                    <div>
                        <a href="/searchnewfriend">
                            <i class="material-icons">
                                person_add
                            </i>
                        </a>
                    </div>
                </div>
                <div class="ongoingchats">

                </div>
            </div>
            <div class="chatscreen">
                <div class="chatSCreenHeader">
                    <div class="dp">
                        <img src="/download.png" />
                    </div>
                    <div>
                        <div>
                            <span class="chatOwner">
                                rishav
                            </span>
                        </div>
                        <div class="chatOwnerStatus">
                            <span class="online">
                                online
                            </span>
                            <span class="typing">
                                typing....
                            </span>
                        </div>
                    </div>
                </div>
                <div class="messageHistory">

                </div>
                <div class="input">
                    <input type="text" />
                </div>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/chatbox.js" ></script>
    </body>
</html>