<html>
    <head>
        <style>
            
        </style>
    </head>
    <body>
        <a href="/login">
            <span>
                login
            </span>
        </a>
        <a href="/signup">
            <span>
                signup
            </span>
        </a>
    </body>
</html>