<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <form action="/login" method="POST">
            <input 
                type="text"
                name="phone"
            />

            <input 
                type="password"
                name="password"
            />
            <button>
                Login
            </button>
        </form>
    </body>
    <script src="/login.js"></script>
</html>