<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <form action="/signup" method="POST">
            <input 
                type="text"
                name="phone"
                placeholder="phone no"
            />

            <input 
                type="text"
                name="firstName"
                placeholder="firstname"
            />
            <input 
                type="text"
                name="lastName"
                placeholder="lastname"
            />

            <input 
                type="password"
                name="password"
                placeholder="password"
            />

            <input 
                type="password"
                name="confirmPassword"
                placeholder="confirmPassword"
            />
            <button>
                Signup
            </button>
        </form>
    </body>
    <script src="/login.js"></script>
</html>